# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

* `.capitalize()` : 앞글자를 대문자로 만들어 반환한다.

* `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환한다.

* `.upper()` : 모두 대문자로 만들어 반환한다.

In [2]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [3]:
a.capitalize()

"Hi! everyone, i'm kim"

In [4]:
a.title()

"Hi! Everyone, I'M Kim"

In [5]:
a.upper()

"HI! EVERYONE, I'M KIM"

### `.lower()`, `.swapcase()`

* `lower()` : 모두 소문자로 만들어 반환한다.

* `swapcase()` : 대 <-> 소문자로 변경하여 반환한다.

In [6]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [7]:
a.lower()

"hi! everyone, i'm kim"

In [8]:
a.swapcase()

"Hi! eVERYONE, i'M KIM"

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

> `iterable`
>
> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기에 속한다.

In [9]:
word = '배고파'
words = ['안녕', 'hello']

# 아래에 코드를 작성하세요.

In [10]:
'!'.join(word)

'배!고!파'

In [12]:
' '.join(words)

'안녕 hello'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [13]:
'yay!'.replace('a', '_')

'y_y!'

In [14]:
'wooooowoo'.replace('o', '', 2)

'wooowoo'

### `.strip([chars])`

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip), 오른쪽을 제거합니다(rstrip).

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [17]:
'            oh\n'.strip()

'oh'

In [18]:
'            oh\n         '.lstrip()

'oh\n         '

In [24]:
'hihihehehihihihhii'.rstrip('hi')#hi라는 단어가 아닌, 각 문자 'h' 'i'를 인식

'hihihehe'

## 탐색 및 검증

### `.find(x[, start[, end]])`

슬라이스 string[start:end]안에 등장하는 x의 첫 번째 위치(인덱스)를 반환합니다.

x가 없으면 -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [29]:
'apple'.find('p')

1

In [30]:
'apple'.find('d')

-1

In [32]:
'apple'.find('p', 3)

-1

### `.index(x[, start[, end]])`

`find()`와 비슷하지만 x를 찾을 수 없으면, ValueError가 발생한다.

In [ ]:
# 아래에 코드를 작성하세요.

In [5]:
'apple'.index('p')

1

In [37]:
'apple'.index('c')

ValueError: substring not found

## `.split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

문자열 -> 리스트 : `.split()`

리스트 -> 문자열: `.join()`

In [ ]:
# 아래에 코드를 작성하세요.

In [38]:
'a_b_c'.split('_')

['a', 'b', 'c']

In [40]:
inputs = input().split()
print(inputs)

안녕 반가워
['안녕', '반가워']

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

In [44]:
# 다음 명령어로 문자열 메소드를 확인할 수 있습니다.
dir('string')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [59]:
# isalpha()
# 문자열이 알파벳 문자로만 구성되어 있는지 확인
print('kim'.isalpha())
print('kim김최박'.isalpha())
print('kim100'.isalpha())

True
True
False

In [51]:
# isdecimal()
# 문자열이 10진수의 숫자로만 이루어져 있는지 확인

test1 = '12345'# 숫자
test2 = 'd123f456'# 숫자 + 문자
test3 = '       123456    '# 공백 + 숫자

print(test1.isdecimal())
print(test2.isdecimal())
print(test3.isdecimal())

True
False
False

In [57]:
# isdisit
# 문자열이 양의 정수가 포함되어 있는지 확인
test1 = '12345'
test2 = '-12345'
test3 = '123.123'

print(test1.isdigit())
print(test2.isdigit())
print(test3.isdigit())

True
False
False

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

해당 객체 자체를 append

In [61]:
# 카페 리스트를 만들어봅시다.
cafe = ['starbucks', 'tomntoms', 'hollys']

In [ ]:
# 값을 추가해봅시다.

In [62]:
cafe.append('caffebene')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'caffebene']

In [63]:
cafe.append(['ediya'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', ['ediya']]

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

iterable 객체의 내부 element 를 append

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [65]:
cafe.extend(['droptop', '빽다방'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', ['ediya'], 'droptop', '빽다방']

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [66]:
cafe += ['cofee bean', 'twosome']
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', ['ediya'], 'droptop', '빽다방', 'cofee bean', 'twosome']

In [ ]:
# append와 비교해봅시다.

In [67]:
cafe.extend('ssafy')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', ['ediya'], 'droptop', '빽다방', 'cofee bean', 'twosome', 's', 's', 'a', 'f', 'y']

In [68]:
cafe.extend(['banapresso'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', ['ediya'], 'droptop', '빽다방', 'cofee bean', 'twosome', 's', 's', 'a', 'f', 'y', 'banapresso']

In [69]:
cafe.append('ssafy')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', ['ediya'], 'droptop', '빽다방', 'cofee bean', 'twosome', 's', 's', 'a', 'f', 'y', 'banapresso', 'ssafy']

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [70]:
cafe.insert(0, 'hi')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', ['ediya'], 'droptop', '빽다방', 'cofee bean', 'twosome', 's', 's', 'a', 'f', 'y', 'banapresso', 'ssafy']

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [71]:
cafe.insert(len(cafe), 'bye')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', ['ediya'], 'droptop', '빽다방', 'cofee bean', 'twosome', 's', 's', 'a', 'f', 'y', 'banapresso', 'ssafy', 'bye']

In [ ]:
# 리스트의 길이를 넘어서는 인덱스는 마지막에 아이템이 추가됩니다.

In [72]:
cafe.insert(len(cafe)+100, '!!!')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', ['ediya'], 'droptop', '빽다방', 'cofee bean', 'twosome', 's', 's', 'a', 'f', 'y', 'banapresso', 'ssafy', 'bye', '!!!']

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [73]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [74]:
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [ ]:
# 한번 더 삭제해봅시다.

In [75]:
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [76]:
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [85]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [78]:
print(a.pop(0))
print(a)

1
[2, 3, 4, 5, 6]

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [86]:
deleted_number = a.pop()
print(f'{deleted_number}가 삭제되어 {a}가 되었습니다.')

6가 삭제되어 [1, 2, 3, 4, 5]가 되었습니다.

### `.clear()`

가변 시퀀스(list)의 모든 항목을 삭제합니다.

`del s[:]`와 동일하다.

In [ ]:
# clear를 사용해봅시다.

In [83]:
numbers = list(range(1,46))
print(numbers)

numbers.clear()
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[]

In [87]:
numbers = list(range(1,46))
print(numbers)

del numbers[:]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[]

## 탐색 및 정렬

### `.index(x[, i[, j]])`

(인덱스 `i` 또는 그 이후에, 인덱스 `j` 전에 등장하는)x 값을 찾아 해당 index 값을 반환합니다.

In [88]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [89]:
a.index(3)

2

In [92]:
a.index(3, 3)

ValueError: 3 is not in list

In [93]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
a.index(3, 100)

ValueError: 3 is not in list

### `.count(x)`

가변 시퀀스에 등장하는 x의 총 갯수.

In [95]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [96]:
a.count(1)

3

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [97]:
a = [1, 2, 5, 1, 5, 1]
target = 1
for i in range(a.count(target)):
    a.remove(target)
    
print(a)

[2, 5, 5]

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

In [98]:
target in a

False

### `.sort(reverse=False)`

항목 간의 '<' 비교만 사용하여 리스트를 제자리에서 정렬


내장함수 `sorted()`(새로운 리스트를 만듬) 와는 다르게 **원본 list를 변형**시키고, **None**을 리턴합니다.

(큰 시퀀스를 정렬할 때 주로 사용. 새로운 리스트를 만들지 않기 때문에 메모리 절약.)

In [99]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[4, 16, 38, 27, 19, 45]

In [101]:
# sort() 를 사용해봅시다.
lotto.sort()
print(lotto.sort())
print(lotto)

lotto.sort(reverse=True)
print(lotto)

None
[4, 16, 19, 27, 38, 45]
[45, 38, 27, 19, 16, 4]

### `.reverse()`

제자리에서 가변 시퀀스의 항목들의 순서를 뒤집습니다.

반대로 뒤집습니다. **(정렬 아님)**

In [104]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [105]:
classroom.reverse()
print(classroom)

['Justin', 'David', 'Tom']

## 복사

In [106]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [107]:
copy_list = original_list
print(copy_list)

[1, 2, 3]

In [ ]:
# copy_list의 값을 바꾸고 original_list를 출력해봅시다.

In [108]:
copy_list[0] = 5
print(copy_list)
print(original_list)

[5, 2, 3]
[5, 2, 3]

In [109]:
# id 값을 확인해봅시다.

In [111]:
print(id(copy_list))
print(id(original_list))

original_list is copy_list

1798667916424
1798667916424

True

In [ ]:
# 숫자를 확인해봅시다.

In [114]:
a = 20005
b = a
b = 30005
print(a)

print(a is b)

20005
False

In [ ]:
# 딕셔너리도 확인해봅시다.

In [117]:
lunch = {'김밥천국': '치즈라면', '김가네': '제육볶음'}
dinner = lunch

dinner['김밥천국'] = '참치김밥으로 바꿀꺼야'
print(lunch)
lunch is dinner

{'김밥천국': '참치김밥으로 바꿀꺼야', '김가네': '제육볶음'}

True

### copy
> 위 코드를 [pythontutor](http://pythontutor.com/) 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐이다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 `[1, 2, 3]` 이라는 객체를 생성하고, 변수에는 객체의 주소가 저장된다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작한다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [ ]:
# 리스트를 복사해봅시다.

In [118]:
a = [1, 2, 3]
b = a[:]

b[0] = 5
print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

In [ ]:
# 다른 방법으로 복사해봅시다.

In [119]:
a = [1, 2, 3]
b = list(a)

b[0] = 5
print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`이다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [120]:
a = [1, 2, [1, 2]]
b = a[:]

b[2][0] = 100
print(a)

[1, 2, [100, 2]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야한다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경된다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [121]:
import copy
a = [1, 2, [1, 2]]
b = copy.deepcopy(a)

b[2][0] = 100
print(a)
print(b)

[1, 2, [1, 2]]
[1, 2, [100, 2]]

## List Comprehension

시퀀스의 요소 전부 또는 일부를 처리하고, 그 결과를 리스트로 돌려주는 간결한 방법.

List Comprehension은 리스트안에 식, for 문을 지정합니다.
여러 줄의 코드를 한 줄로 줄일 수 있습니다.

---

**활용법**

```python
[식 for 변수 in iterable]

list(식 for 변수 in iterable)
```

In [ ]:
# [] vs list()
# 둘 중에 성능은 [] 더 좋습니다.
# 특히 list() 라고 쓰는 표현방법은 C 언어 스타일에 가깝기 때문에 pythonic 하지 못한 방법.

### 세제곱 리스트

> 다음의 리스트를 작성하세요.
- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [123]:
a = range(1, 11)

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [124]:
cubic_list = []
for i in a:
    cubic_list.append(i**3)
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# List Comprehension

In [127]:
cubic_list2 = [i ** 3 for i in a]
print(cubic_list2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## List Comprehension + 조건문

조건문에 참인 식으로 리스트를 생성합니다.

---

**활용법**

```python
[식 for 변수 in iterable if 조건식]

[식 if 조건식 else 식 for 변수 in iterable]

# elif 는 다음과 같이 사용해야 합니다. (if else 열거)
[식 if 조건식 else 식 if 조건식 else 식 if ... else ... for 변수 in iterable]
```

### 짝수리스트
> 다음의 리스트를 작성하세요.

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [129]:
even_list = []
for i in range(1, 11):
    if i % 2 == 0:
        even_list.append(i)
print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
# List Comprehension

In [131]:
even_list = [i for i in range(1, 11) if i % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 작성하세요.
1. 반복문 활용
2. list comprehension 활용

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
```

---

```
예시 출력)    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [132]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 작성하세요.

In [133]:
pair = []
for i in boys:
    for j in girls:
        pair.append((i, j))
print(pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [134]:
pair = [(boy, girl) for boy in boys for girl in girls]
print(pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [135]:
gugu = [i * j for i in range(2, 10) for j in range(1, 10)]
print(gugu)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾으세요.
1. 반복문 활용
2. list comprehension 활용

---

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 작성하세요.

In [137]:
result = []
for x in range(1, 50):
    for y in range(x+1, 50):
        for z in range(y+1, 50):
            if x**2 + y**2 == z**2:
                result.append((x, y, z))
                
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [138]:
result = [(x, y, z) for x in range(1, 50) for y in range(x+1, 50) for z in range(y+1, 50) if x**2 + y**2 == z**2]
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하세요.

```python
words = 'Life is too short, you need python!'
```

---

```
예시 출력)
Lf s t shrt, y nd pythn!
```

In [140]:
words = 'Life is too short, you need python!'

In [ ]:
# 반복문을 활용하여 작성하세요.

In [141]:
ae = ['a', 'e', 'i', 'o', 'u']
for word in words:
    if word not in ae:
        print(word,end='')

Lf s t shrt, y nd pythn!

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [148]:
ae = ['a', 'e', 'i', 'o', 'u']

result = [word for word in words if word not in ae]
print(''.join(result))

Lf s t shrt, y nd pythn!

### 행렬 전치하기
```python
# 3x4 행렬
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
   
]

# 4x3 행렬로 전치
[
    [1, 5, 9],
    [2, 6, 10],
    [3, 7, 11],
    [4, 8, 12]



]





```

In [149]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
   
]

In [156]:
# 1
result = []

for i in range(4):
    result_row = []
    for row in matrix:
        result_row.append(row[i])
    result.append(result_row)
print(result)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [193]:
# 2
result = []
for i in range(4):
    result_row = [row[i] for row in matrix]
    result.append(result_row)
print(result)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [195]:
# 3
result = [[row[i] for row in matrix]for i in range(4)]
print(result)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [398]:
# 4
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
   
]
# 가변 인자 튜플로 처리(*)
print(list(zip(matrix)))
print(list(zip(*matrix)))
# zip 으로 튜플로 처리된 각 가변 인자들을 다시 list로 바뀌도록 map으로 처리
print(list(map(list, zip(matrix))))
print(list(map(list, zip(*matrix))))

[([1, 2, 3, 4],), ([5, 6, 7, 8],), ([9, 10, 11, 12],)]
[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]
[[[1, 2, 3, 4]], [[5, 6, 7, 8]], [[9, 10, 11, 12]]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

### 리스트 컴프리헨션의 특징
1. 간결함 (코드가 줄었다고 해서 의미까지 축소되지 않음을 보장하는 간결함)
2. 성능 (일반화하기엔 위험)
3. 표현력 (pythonic)

### 리스트 컴프리헨션을 남용하지 말자

- 특별한 이유없이 복잡한 코드를 작성하는 것은 나쁜 습관이며 좋은 개발자라 하기 어려움.
- 중첩이나 조건이 길어지는 경우는 억지로 사용하는 것이 코드를 더 이해하기 어렵게 만듦.
- 코드의 **가독성**은 코드의 간결함 보다 훨씬 더 중요한 목표.

`"simple is better than complex"`

`"keep it simple, stupid"`

`"프로그래밍은 우리의 프로그램이 어떻게 그 목적을 명확하게 전달하는지에 대한 것"`

### 성능에 대한 정리

성능은 파이썬 자체의 변화와 코드 최적화에 따라 얼마든지 달라질 수 있다.

게다가 최신 파이썬 버전부터는 일반 for 문에도 비약적인 성능 향상이 있었다.

물론 일부 코드에서는 리스트 컴프리헨션이 여전히 빠르고 심지어 map 보다도 더 빠르다.

다만 다른 함수, 내장함수 등을 적용하는 경우는 map이 더 빠르다.

결국 성능이랑 누가 더 빠르다고 일반화 할 수 없는 주제이다.


- `loop문을 먼저 작성.`

- `comprehension(매우 드믐) <-> map/filter`

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 Key가 없으면 KeyError가 발생합니다.

In [196]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [197]:
my_dict.pop('apple')
print(my_dict)

{'banana': '바나나'}

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다.

In [198]:
my_dict.pop('melon')

KeyError: 'melon'

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다.

In [199]:
my_dict.pop('melon', 0)

0

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [200]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [204]:
my_dict.update(apple='사과아아아', durian='두리안', jadu='자두')
print(my_dict)

{'apple': '사과아아아', 'banana': '바나나', 'melon': '멜론', 'durian': '두리안', 'jadu': '자두'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [205]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [207]:
print(my_dict.get('pineapple'))
print(my_dict.get('apple'))
print(my_dict.get('pineapple', 100))

None
사과
100

## Dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

---

**활용법**

```python
{키: 값 for 키, 값 in 딕셔너리}

dict({키: 값 for 키, 값 in 딕셔너리})

{키: 값 for 키, 값 in 딕셔너리 if 조건식}

{키: 값 if 조건식 else 값 for 키, 값 in 딕셔너리}

```

In [ ]:
# dictionary comprehension

In [208]:
cubic = {x: x**3 for x in range(1,8)}
print(cubic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343}

### Dictionary comprehension 사용해보기

In [216]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아주세요.
# 예) {'대전': 82, '중국': 200}

In [221]:
dust = {key: value for key, value in dusts.items() if value > 80}
print(dust)

{'대전': 82, '중국': 200}

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꾸세요.

In [224]:
dust = {key: '나쁨'  if value > 80 else '보통' for key, value in dusts.items()}
print(dust)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [ ]:
# elif 도 사용할 수 있습니다. (if else 열거)

In [225]:
dust = {key: '매우나쁨'  if value > 150 else '나쁨' if value > 80 else '보통' if value > 30 else '좋음' for key, value in dusts.items()}
print(dust)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 세트 메소드 활용

## 세트의 특징
- 가변
- 순서가 없음 -> 인덱싱, 슬라이싱 또는 기타 시퀀스와 유사한 동작들을 지원하지 않는다.
- 세트는 원소의 위치나 삽입 순서를 기록하지 않는다.
- 세트 자체는 수정/추가 될 수 있지만, 포함된 원소는 불변해야 한다.

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [274]:
# add를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [275]:
a.add('포도')
print(a)
a.add('포도')
print(a)

{'바나나', '포도', '사과', '수박'}
{'바나나', '포도', '사과', '수박'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [282]:
# update를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [285]:
a.update({'토마토', '딸기', '토마토'}, {'포도', '레몬'})
a.update({'토마토', '딸기', '토마토'}, ['포도', '레몬'])
print(a)

{'사과', '레몬', '바나나', '포도', '수박', '토마토', '딸기'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [290]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [291]:
a.remove('사과')
print(a)

{'바나나', '수박'}

### `.discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [293]:
# discard를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [294]:
a.discard('애플')
a.discard('수박')
print(a)

{'바나나', '사과'}

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

In [356]:
# pop을 사용해봅시다.
a = {'사과', '바나나', '수박', '아보카도'}

In [357]:
print(a.pop())
print(a)

아보카도
{'바나나', '사과', '수박'}

왜 set을 pop했을 때, 동일한 순서로 원소가 빠질까?
1. set 은 내부적으로 hash table로 이루어져 있다.
2. `pop` 은 그 hash table 에 저장된 아이템들의 hash 값을 순서로 진해야됨.
3. 하나의 파이썬 프로세스(환경) 에서 이 hash table에서 값들은 랜덤하게 결정되며 경정된 후 바뀌지 않음. (바뀌게 되면 다른 딕셔너리나 세트 들의 상호 작용 및 정렬에 영향을 미치게 됨.
4. 따라서 동일한 파이썬 프로세스에서는 계속 같은 값이 pop 되나, 환경을 재실행 하면 다른 값을 확인 할 수 있다.

#  `map()`, `zip()`, `filter()`

## `map(function, iterable)`

* Iterable의 모든 요소에 function을 적용한 후 그 결과를 돌려준다. 


* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range


* return은 `map_object` 형태이다.

In [363]:
numbers = [1, 2, 3]

# 위의 코드를 문자열 '123'으로 만드세요

In [ ]:
# list comprehension

In [360]:
new_numbers = []
for num in numbers:
    new_numbers.append(str(num))
print(new_numbers)

print(''.join(new_numbers))

['1', '2', '3']
123

In [362]:
new_numbers = ''.join([str(num) for num in numbers])
print(new_numbers)

123

In [ ]:
# map

In [365]:
new_numbers = ''.join(map(str, numbers))
print(new_numbers)

123

In [368]:
numbers = ['1', '2', '3']

# 위의 코드의 요소들의 타입을 숫자로 바꾸시오.

In [ ]:
# list comprehension

In [367]:
new_numbers = [int(num) for num in numbers]
print(new_numbers)

[1, 2, 3]

In [ ]:
# map

In [372]:
new_numbers = list(map(int, numbers))

print(new_numbers)

[1, 2, 3]

In [376]:
# map객체를 리스트로 바꿀 때는 []가 아닌 list() 함수를 사용해서 호출해야 한다.
new_numbers = [(map(int, numbers))]

print(new_numbers)

[<map object at 0x000001A2C8260278>]

첫번째 인자 function은 사용자 정의 함수도 가능합니다.

In [373]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [374]:
cubic_list = list(map(cube, new_numbers))
print(cubic_list)

[1, 8, 27]

## `zip(*iterables)` 

* 복수의 iterable 객체를 모아준다.


* 결과는 튜플의 모음으로 구성된 `zip object` 를 반환한다.

In [382]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [383]:
print(zip(girls, boys))
print(list(zip(girls, boys)))

<zip object at 0x000001A2C83E8B08>
[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [ ]:
# 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
# dictionary comprehension

In [384]:
result = {girl: boy for girl in girls for boy in boys}
print(result)

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [ ]:
# zip

In [385]:
result = {girl: boy for girl, boy in zip(girls, boys)}
print(result)

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
# 다른 예시도 알아봅시다.

In [386]:
a = '123'
b = '456'

for digit_a, digit_b in zip(a,b):
    print(digit_a, digit_b)

1 4
2 5
3 6

* zip은 반드시 길이가 같을 때 사용해야한다. 다르다면 가장 짧은 것을 기준으로 구성한다.

In [387]:
num1 = [1, 2, 3]
num2 = ['1', '2']
print(list(zip(num1, num2)))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다

In [388]:
from itertools import zip_longest

list(zip_longest(num1, num2, fillvalue=100))

[(1, '1'), (2, '2'), (3, 100)]

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 `True` 인 것들만 구성하여 반환한다.


* `filter object` 를 반환한다.

In [ ]:
# 홀수인지 판단하는 코드를 작성하세요.

In [420]:
def odd(n):
    return n % 2
numbers = [1, 2, 3]

print(list(filter(odd, numbers)))

# lambda(익명함수, 일회용 함수)

print(list(filter(lambda n: n % 2, numbers)))

[1, 3]
[1, 3]

In [ ]:
# 다음의 list comprehension과 동일하다.

In [422]:
result = [x for x in numbers if x % 2]
print(result)
result = [x for x in numbers if odd(x)]
print(result)

[1, 3]
[1, 3]

In [ ]:
def my_sqrt(n):
    x, y = 1, n # 양의 정수니까 1부터 입력된 양의 정수까지
    result = 1 # 우리가 추측하는 제곱근 / 근사치의 시작을 1로 둔다. (양의 정수)
    
    # 제곱근의 제곱(result**2)과 입력 값(n)의 차이가 적어도 이 차이보다 작다면,
    while abs(result**2 - n) > 0.0000000001:# 1e-10(이 차이)
        result = (x+y) / 2 # 양쪽 끝을 더해서 2로 나눈다 / 절반을 구한다 / 이를 추측하는 값으로 변경
        if result**2 < n:# 제곱근의 제곱이 입력 값 보다 작으면, 앞 범위를 제곱근(result)으로 변경
            x = result
        else:             # 반대로 입력 값보다 크다면 뒷 범위를 제곱근(result)으로 변경
            y = result
            
    return result